[
  {
    "Key": "BasicCure",
    "DisplayName": "治疗药片",
    "Value": "1"
  },
  {
    "Key": "Funky_Vest",
    "DisplayName": "新潮时装",
    "Value": "1"
  },
  {
    "Key": "CustomClothing",
    "DisplayName": "精致装束",
    "Value": "1"
  },
  {
    "Key": "Polypropylene",
    "DisplayName": "塑料",
    "Value": "1"
  },
  {
    "Key": "Glass",
    "DisplayName": "玻璃",
    "Value": "1"
  },
  {
    "Key": "SolidViscoGel",
    "DisplayName": "固态粘性凝胶",
    "Value": "1"
  },
  {
    "Key": "SuperInsulator",
    "DisplayName": "隔热质",
    "Value": "1"
  },
  {
    "Key": "TempConductorSolid",
    "DisplayName": "导热质",
    "Value": "1"
  },
  {
    "Key": "Diamond",
    "DisplayName": "钻石",
    "Value": "1"
  },
  {
    "Key": "GeneShufflerRecharge",
    "DisplayName": "振荡器充能器",
    "Value": "1"
  },
  {
    "Key": "Sulfur",
    "DisplayName": "硫",
    "Value": "1"
  },
  {
    "Key": "Dirt",
    "DisplayName": "泥土",
    "Value": "1"
  },
  {
    "Key": "Clay",
    "DisplayName": "粘土",
    "Value": "1"
  },
  {
    "Key": "Fertilizer",
    "DisplayName": "肥料",
    "Value": "1"
  },
  {
    "Key": "Phosphorite",
    "DisplayName": "磷矿",
    "Value": "1"
  },
  {
    "Key": "LightBugBaby",
    "DisplayName": "发光虫幼虫",
    "Value": "1"
  },
  {
    "Key": "HatchBaby",
    "DisplayName": "小好吃哈奇",
    "Value": "1"
  },
  {
    "Key": "PuftBaby",
    "DisplayName": "小喷浮飞鱼",
    "Value": "1"
  },
  {
    "Key": "SquirrelBaby",
    "DisplayName": "小树鼠",
    "Value": "1"
  },
  {
    "Key": "SquirrelHugBaby",
    "DisplayName": "小毛绒树鼠",
    "Value": "1"
  },
  {
    "Key": "CrabBaby",
    "DisplayName": "抛壳蟹幼体",
    "Value": "1"
  },
  {
    "Key": "DreckoBaby",
    "DisplayName": "小毛鳞壁虎",
    "Value": "1"
  },
  {
    "Key": "Pacu",
    "DisplayName": "帕库鱼",
    "Value": "1"
  },
  {
    "Key": "PacuBaby",
    "DisplayName": "帕库幼鱼",
    "Value": "1"
  },
  {
    "Key": "MoleBaby",
    "DisplayName": "锹环田鼠幼崽",
    "Value": "1"
  },
  {
    "Key": "OilfloaterBaby",
    "DisplayName": "浮油生物幼体",
    "Value": "1"
  },
  {
    "Key": "DivergentBeetleBaby",
    "DisplayName": "甜素甲虫幼虫",
    "Value": "1"
  },
  {
    "Key": "StaterpillarBaby",
    "DisplayName": "电弧蛞蝓幼体",
    "Value": "1"
  },
  {
    "Key": "BeeBaby",
    "DisplayName": "小辐射蜂",
    "Value": "1"
  },
  {
    "Key": "Algae",
    "DisplayName": "藻类",
    "Value": "1"
  },
  {
    "Key": "SlimeMold",
    "DisplayName": "菌泥",
    "Value": "1"
  },
  {
    "Key": "PrickleGrassSeed",
    "DisplayName": "诱人荆棘种子",
    "Value": "1"
  },
  {
    "Key": "LeafyPlantSeed",
    "DisplayName": "欢乐叶种子",
    "Value": "1"
  },
  {
    "Key": "CactusPlantSeed",
    "DisplayName": "雀跃掌种子",
    "Value": "1"
  },
  {
    "Key": "MushroomSeed",
    "DisplayName": "真菌孢子",
    "Value": "1"
  },
  {
    "Key": "PrickleFlowerSeed",
    "DisplayName": "毛刺花种子",
    "Value": "1"
  },
  {
    "Key": "OxyfernSeed",
    "DisplayName": "氧齿蕨种子",
    "Value": "1"
  },
  {
    "Key": "ForestTreeSeed",
    "DisplayName": "乔木橡实",
    "Value": "1"
  },
  {
    "Key": "SwampLilySeed",
    "DisplayName": "芳香百合种子",
    "Value": "1"
  },
  {
    "Key": "ColdBreatherSeed",
    "DisplayName": "冰息萝卜种子",
    "Value": "1"
  },
  {
    "Key": "SpiceVineSeed",
    "DisplayName": "火椒种子",
    "Value": "1"
  },
  {
    "Key": "BasicFabricMaterialPlantSeed",
    "DisplayName": "芦苇种子",
    "Value": "1"
  },
  {
    "Key": "BasicSingleHarvestPlantSeed",
    "DisplayName": "米虱木种子",
    "Value": "1"
  },
  {
    "Key": "BeanPlantSeed",
    "DisplayName": "小吃豆",
    "Value": "1"
  },
  {
    "Key": "BulbPlantSeed",
    "DisplayName": "同伴芽种子",
    "Value": "1"
  },
  {
    "Key": "SaltPlantSeed",
    "DisplayName": "沙盐藤种子",
    "Value": "1"
  },
  {
    "Key": "SeaLettuceSeed",
    "DisplayName": "水草种子",
    "Value": "1"
  },
  {
    "Key": "ColdWheatSeed",
    "DisplayName": "冰霜麦粒",
    "Value": "1"
  },
  {
    "Key": "WoodLog",
    "DisplayName": "木料",
    "Value": "1"
  },
  {
    "Key": "BasicFabric",
    "DisplayName": "芦苇纤维",
    "Value": "1"
  },
  {
    "Key": "GasGrassSeed",
    "DisplayName": "释气草种子",
    "Value": "1"
  },
  {
    "Key": "FilterPlantSeed",
    "DisplayName": "仙水掌种子",
    "Value": "1"
  },
  {
    "Key": "CritterTrapPlantSeed",
    "DisplayName": "土星动物捕草种子",
    "Value": "1"
  },
  {
    "Key": "ToePlantSeed",
    "DisplayName": "安宁芷种子",
    "Value": "1"
  },
  {
    "Key": "CylindricaSeed",
    "DisplayName": "极乐刺种子",
    "Value": "1"
  },
  {
    "Key": "SwampHarvestPlantSeed",
    "DisplayName": "沼浆笼种子",
    "Value": "1"
  },
  {
    "Key": "WormPlantSeed",
    "DisplayName": "虫果种子",
    "Value": "1"
  },
  {
    "Key": "WineCupsSeed",
    "DisplayName": "醇锦种子",
    "Value": "1"
  },
  {
    "Key": "OxyRock",
    "DisplayName": "氧石",
    "Value": "1"
  },
  {
    "Key": "Carbon",
    "DisplayName": "煤炭",
    "Value": "1"
  },
  {
    "Key": "Rust",
    "DisplayName": "铁锈",
    "Value": "1"
  },
  {
    "Key": "Lime",
    "DisplayName": "石灰",
    "Value": "1"
  },
  {
    "Key": "BleachStone",
    "DisplayName": "漂白石",
    "Value": "1"
  },
  {
    "Key": "Sucrose",
    "DisplayName": "蔗糖",
    "Value": "1"
  },
  {
    "Key": "Water",
    "DisplayName": "水",
    "Value": "1"
  },
  {
    "Key": "Ice",
    "DisplayName": "冰",
    "Value": "1"
  },
  {
    "Key": "DirtyWater",
    "DisplayName": "污染水",
    "Value": "1"
  },
  {
    "Key": "SaltWater",
    "DisplayName": "盐水",
    "Value": "1"
  },
  {
    "Key": "Brine",
    "DisplayName": "浓盐水",
    "Value": "1"
  },
  {
    "Key": "Ethanol",
    "DisplayName": "乙醇",
    "Value": "1"
  },
  {
    "Key": "CrudeOil",
    "DisplayName": "原油",
    "Value": "1"
  },
  {
    "Key": "Petroleum",
    "DisplayName": "石油",
    "Value": "1"
  },
  {
    "Key": "SuperCoolant",
    "DisplayName": "超级冷却剂",
    "Value": "1"
  },
  {
    "Key": "ViscoGel",
    "DisplayName": "粘性凝胶",
    "Value": "1"
  },
  {
    "Key": "SandStone",
    "DisplayName": "砂岩",
    "Value": "1"
  },
  {
    "Key": "SedimentaryRock",
    "DisplayName": "沉积岩",
    "Value": "1"
  },
  {
    "Key": "IgneousRock",
    "DisplayName": "火成岩",
    "Value": "1"
  },
  {
    "Key": "Granite",
    "DisplayName": "花岗岩",
    "Value": "1"
  },
  {
    "Key": "Obsidian",
    "DisplayName": "黑曜石",
    "Value": "1"
  },
  {
    "Key": "Fossil",
    "DisplayName": "化石",
    "Value": "1"
  },
  {
    "Key": "Ceramic",
    "DisplayName": "陶瓷",
    "Value": "1"
  },
  {
    "Key": "MaficRock",
    "DisplayName": "镁铁质岩",
    "Value": "1"
  },
  {
    "Key": "LightBugEgg",
    "DisplayName": "发光虫卵",
    "Value": "1"
  },
  {
    "Key": "LightBugOrangeEgg",
    "DisplayName": "阳光虫卵",
    "Value": "1"
  },
  {
    "Key": "LightBugPinkEgg",
    "DisplayName": "珊瑚虫卵",
    "Value": "1"
  },
  {
    "Key": "LightBugPurpleEgg",
    "DisplayName": "皇家虫卵",
    "Value": "1"
  },
  {
    "Key": "LightBugBlueEgg",
    "DisplayName": "天蓝虫卵",
    "Value": "1"
  },
  {
    "Key": "LightBugBlackEgg",
    "DisplayName": "深渊虫卵",
    "Value": "1"
  },
  {
    "Key": "LightBugCrystalEgg",
    "DisplayName": "光耀虫卵",
    "Value": "1"
  },
  {
    "Key": "PuftEgg",
    "DisplayName": "喷浮飞鱼蛋",
    "Value": "1"
  },
  {
    "Key": "PuftAlphaEgg",
    "DisplayName": "贵族飞鱼蛋",
    "Value": "1"
  },
  {
    "Key": "PuftBleachstoneEgg",
    "DisplayName": "洁净飞鱼蛋",
    "Value": "1"
  },
  {
    "Key": "PuftOxyliteEgg",
    "DisplayName": "厚壳飞鱼蛋",
    "Value": "1"
  },
  {
    "Key": "PacuEgg",
    "DisplayName": "帕库鱼卵",
    "Value": "1"
  },
  {
    "Key": "PacuCleanerEgg",
    "DisplayName": "大嘴鱼卵",
    "Value": "1"
  },
  {
    "Key": "PacuTropicalEgg",
    "DisplayName": "热带帕库鱼卵",
    "Value": "1"
  },
  {
    "Key": "HatchEgg",
    "DisplayName": "好吃哈奇蛋",
    "Value": "1"
  },
  {
    "Key": "HatchVeggieEgg",
    "DisplayName": "草质哈奇蛋",
    "Value": "1"
  },
  {
    "Key": "HatchHardEgg",
    "DisplayName": "石壳哈奇蛋",
    "Value": "1"
  },
  {
    "Key": "HatchMetalEgg",
    "DisplayName": "光滑哈奇蛋",
    "Value": "1"
  },
  {
    "Key": "SquirrelEgg",
    "DisplayName": "树鼠蛋",
    "Value": "1"
  },
  {
    "Key": "SquirrelHugEgg",
    "DisplayName": "毛绒树鼠蛋",
    "Value": "1"
  },
  {
    "Key": "DreckoEgg",
    "DisplayName": "毛鳞壁虎蛋",
    "Value": "1"
  },
  {
    "Key": "DreckoPlasticEgg",
    "DisplayName": "滑鳞壁虎蛋",
    "Value": "1"
  },
  {
    "Key": "OilfloaterEgg",
    "DisplayName": "浮油生物蛋",
    "Value": "1"
  },
  {
    "Key": "OilfloaterDecorEgg",
    "DisplayName": "长毛浮油生物蛋",
    "Value": "1"
  },
  {
    "Key": "OilfloaterHighTempEgg",
    "DisplayName": "熔岩浮油生物蛋",
    "Value": "1"
  },
  {
    "Key": "CrabEgg",
    "DisplayName": "抛壳蟹卵",
    "Value": "1"
  },
  {
    "Key": "MoleEgg",
    "DisplayName": "锹环田鼠蛋",
    "Value": "1"
  },
  {
    "Key": "StaterpillarEgg",
    "DisplayName": "蛞蝓蛋",
    "Value": "1"
  },
  {
    "Key": "DivergentBeetleEgg",
    "DisplayName": "甜素甲虫卵",
    "Value": "1"
  },
  {
    "Key": "DivergentWormEgg",
    "DisplayName": "虫果果虫卵",
    "Value": "1"
  },
  {
    "Key": "Sand",
    "DisplayName": "沙子",
    "Value": "1"
  },
  {
    "Key": "Cuprite",
    "DisplayName": "铜矿",
    "Value": "1"
  },
  {
    "Key": "Copper",
    "DisplayName": "铜",
    "Value": "1"
  },
  {
    "Key": "GoldAmalgam",
    "DisplayName": "金汞齐",
    "Value": "1"
  },
  {
    "Key": "Gold",
    "DisplayName": "金",
    "Value": "1"
  },
  {
    "Key": "IronOre",
    "DisplayName": "铁矿",
    "Value": "1"
  },
  {
    "Key": "Iron",
    "DisplayName": "铁",
    "Value": "1"
  },
  {
    "Key": "Steel",
    "DisplayName": "钢",
    "Value": "1"
  },
  {
    "Key": "AluminumOre",
    "DisplayName": "铝矿",
    "Value": "1"
  },
  {
    "Key": "Aluminum",
    "DisplayName": "铝",
    "Value": "1"
  },
  {
    "Key": "Wolframite",
    "DisplayName": "黑钨矿",
    "Value": "1"
  },
  {
    "Key": "Tungsten",
    "DisplayName": "钨",
    "Value": "1"
  },
  {
    "Key": "Niobium",
    "DisplayName": "铌",
    "Value": "1"
  },
  {
    "Key": "Fullerene",
    "DisplayName": "富勒烯",
    "Value": "1"
  },
  {
    "Key": "UraniumOre",
    "DisplayName": "铀矿",
    "Value": "1"
  },
  {
    "Key": "EnrichedUranium",
    "DisplayName": "浓缩铀",
    "Value": "1"
  },
  {
    "Key": "Lead",
    "DisplayName": "铅",
    "Value": "1"
  },
  {
    "Key": "FieldRation",
    "DisplayName": "营养棒",
    "Value": "1"
  },
  {
    "Key": "BasicForagePlant",
    "DisplayName": "淤泥根",
    "Value": "1"
  },
  {
    "Key": "CookedEgg",
    "DisplayName": "煎蛋卷",
    "Value": "1"
  },
  {
    "Key": "FriedMushroom",
    "DisplayName": "煎蘑菇",
    "Value": "1"
  },
  {
    "Key": "CookedMeat",
    "DisplayName": "烤肉串",
    "Value": "1"
  },
  {
    "Key": "SpicyTofu",
    "DisplayName": "麻婆豆腐",
    "Value": "1"
  },
  {
    "Key": "PrickleFruit",
    "DisplayName": "毛刺浆果",
    "Value": "1"
  },
  {
    "Key": "ColdWheatBread",
    "DisplayName": "冰霜面包",
    "Value": "1"
  },
  {
    "Key": "Burger",
    "DisplayName": "冰霜汉堡",
    "Value": "1"
  },
  {
    "Key": "Lettuce",
    "DisplayName": "海生菜",
    "Value": "1"
  },
  {
    "Key": "ForestForagePlant",
    "DisplayName": "六角根果",
    "Value": "1"
  },
  {
    "Key": "SwampForagePlant",
    "DisplayName": "沼泽甜菜心",
    "Value": "1"
  },
  {
    "Key": "WormSuperFood",
    "DisplayName": "虫果果酱",
    "Value": "1"
  },
  {
    "Key": "FruitCake",
    "DisplayName": "浆果糕",
    "Value": "1"
  },
  {
    "Key": "BerryPie",
    "DisplayName": "混合浆果派",
    "Value": "1"
  },
  {
    "Key": "SpiceBread",
    "DisplayName": "火椒面包",
    "Value": "1"
  },
  {
    "Key": "SurfAndTurf",
    "DisplayName": "海陆双拼",
    "Value": "1"
  }
]